* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Chivo', sans-serif;
  color: #333;
}

h1 {
  font-family: 'Montserrat', serif;
  font-size: 2rem;
  font-weight: 900;
  color: #333;
}

h2 {
  font-family: 'Montserrat', serif;
  font-size: 2rem;
  color: #333;
  font-weight: 700;
}

h3 {
  font-family: 'Chivo', serif;
  font-size: 1rem;
  font-weight: 700;
  color: #333;
}

#home {
  height: 550px;
  width: 100%;
  background: url(./image/img3.jpg);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-attachment: fixed;
  padding: 2rem 0;
}

#home .center-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  max-width: 1200px;
  height: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(78, 78, 78, 0.4);
  border-radius: 2rem;
  margin: 2rem auto;
  padding: 1rem;
}

#home .center-text h1 {
  color: white;
}

#home .center-text h1 .typing {
  margin-left: 0.5rem;
  font-family: 'Montserrat', serif;
  font-size: 2rem;
  font-weight: 900;
  color: white;
}

#home .center-text h1 .typing::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 2.5rem;
  -webkit-animation: blink 1s infinite ease;
          animation: blink 1s infinite ease;
  background-color: white;
  margin-left: 5px;
}

#home .profile {
  padding: 2rem 0.5rem;
  width: 100%;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

#home .profile .item {
  margin: 0.5rem 0.5rem;
  -webkit-animation: animate 3s linear infinite;
          animation: animate 3s linear infinite;
  width: 2rem;
  height: 2rem;
}

#home .profile .item img {
  -o-object-fit: cover;
     object-fit: cover;
}

.line {
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
  height: 1px;
  background: radial-gradient(ellipse, #444444, transparent);
}

#about {
  padding: 5rem 2rem 0rem 2rem;
  width: 100%;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#about .img-container {
  width: 80%;
  height: auto;
  margin: 0 auto;
}

#about .img-container img {
  width: 100%;
  height: auto;
}

#about .about-me {
  margin-top: 2rem;
  text-align: center;
}

#about .about-me h2 {
  margin-bottom: 2rem;
}

#about .about-me p {
  text-align: center;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

#work {
  padding-top: 6rem;
}

#work h2 {
  padding-bottom: 2rem;
  text-align: center;
}

#work .work-box {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

#work .work-box .work .content p a {
  text-decoration: none;
  color: #9e2c09;
}

#work .work-box .one .icon {
  background-image: url(./image/web.png);
  background-size: cover;
}

#work .work-box .two .icon {
  background-image: url("https://img.icons8.com/dusk/90/000000/app-symbol.png");
  background-size: cover;
}

#work .work-box .work {
  padding-bottom: 2rem;
  text-align: center;
}

#work .work-box .work .icon {
  margin: 0 auto 1rem auto;
  width: 6rem;
  height: 6rem;
}

#work .work-box .work .text h2 {
  font-weight: 300;
}

.collapsible {
  background-color: white;
  cursor: pointer;
  padding-bottom: 1rem;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #b48610;
  cursor: pointer;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  outline: none;
}

.collapsible:hover {
  color: #7c510b;
}

.content {
  display: none;
  overflow: hidden;
  padding: .5rem 1rem;
  margin: 0 auto;
  width: 100%;
}

.content .video {
  margin-bottom: 1rem;
  width: 15rem;
}

.content .text {
  width: 100%;
  text-align: left;
  padding: 0.5rem 1.2rem;
}

.content .text ul {
  list-style-image: url("./image/checked.png");
  margin: 0 1.3rem;
}

.content .text ul li {
  padding: 0.2rem 0;
}

#gallery {
  width: 100%;
  padding: 60px 0;
  background: #f1f1f1;
}

#gallery .inner-width {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

#gallery .inner-width h1 {
  text-align: center;
  color: #333;
}

#gallery .inner-width .border {
  width: 180px;
  height: 4px;
  background: #333;
  margin: 60px auto;
}

#gallery .inner-width .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#gallery .inner-width .gallery .image {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  overflow: hidden;
  cursor: pointer;
}

#gallery .inner-width .gallery .image img {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#gallery .inner-width .gallery .image:hover img {
  -webkit-transform: scale(1.4) rotate(15deg);
          transform: scale(1.4) rotate(15deg);
}

#contact {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(167, 166, 166, 0.1)), to(rgba(0, 0, 0, 0.9))), url("./image/sea2.jpg");
  background-image: linear-gradient(to bottom, rgba(167, 166, 166, 0.1), rgba(0, 0, 0, 0.9)), url("./image/sea2.jpg");
  background-size: cover;
  background-position: top left;
  background-attachment: fixed;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact h2 {
  color: white;
}

#contact .contact-box .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem auto;
  width: 100%;
  max-width: 1200px;
}

#contact .contact-box .box .icon {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 1rem;
}

#contact .contact-box .box .icon img {
  width: 100%;
  height: 100%;
}

#contact .contact-box .box p {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  color: white;
  padding: 0;
}

footer {
  padding: 0.5rem;
  width: 100%;
  background: #f1f1f1;
  text-align: center;
}

footer .logo {
  font-size: 2rem;
  font-weight: 900;
}

footer .logo a {
  color: #fd915f;
}

footer p {
  font-size: 0.8rem;
  font-weight: 300;
}

@media (min-width: 480px) {
  #about, #work, #gallery {
    padding-top: 4rem;
  }
  #contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 667px) {
  #contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #about {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #about .img-container {
    width: 40%;
  }
  #about .about-me {
    width: 60%;
    padding: 0 3rem;
  }
  #work {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  #work .work-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #work .work-box .work {
    width: 48%;
  }
  #contact .contact-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #gallery .inner-width .gallery .image {
    -webkit-box-flex: 33.3%;
        -ms-flex: 33.3%;
            flex: 33.3%;
  }
}

@media screen and (min-width: 1024px) {
  #gallery .inner-width .gallery .image {
    -webkit-box-flex: 12.5%;
        -ms-flex: 12.5%;
            flex: 12.5%;
  }
  #about, #work {
    margin: 4rem auto;
  }
  .work .right .content {
    position: relative;
    height: 60vh;
  }
  .work .right .content .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 11rem;
  }
  .work .right .content .text {
    width: 65%;
    position: absolute;
    top: 0;
    right: 0;
  }
  #work {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  #work .left {
    width: 50%;
    margin: 0 2rem 0 auto;
  }
  #work .right {
    width: 50%;
    margin: 0 auto 0 2rem;
  }
  #work .right .content {
    width: 45vw;
    text-align: left;
  }
}
/*# sourceMappingURL=style.css.map */