* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chivo', sans-serif;
}
h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-weight: 700;
    
}
h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
}
h3 {
    font-family: 'Chivo', serif;
    font-size: 1rem;
    font-weight: 700;
}

header {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 100%;
    position: fixed;
    z-index: 10;
    flex-direction: column;
    .logo {
        font-size: 2rem;
        font-weight: 900;
        padding: 0 7px 5px 4px;
        a {
            color: rgb(253, 145, 95);
        }
    }
    .nav ul {
        display: flex;
        align-items: center;
        margin: 0 10px;
        li {
            list-style: none;
            padding: 5px;
            a {
                text-decoration: none;
                color: rgb(71, 71, 71);
            }
        }
    }
}
.background {
    background-color: rgb(248, 247, 247);
    width: 100%;
    height: 17vh;
    position: fixed;
    z-index: 9;
}
#home {
    height: 100vh;
    width: 100%;
    background: url(./image/img3.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column; 
    background-attachment: fixed;
    .center-text {
        display: flex;
        height: 40vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(78, 78, 78, 0.4);
        border-radius: 2rem;
        margin: 8rem 1rem 4rem 1rem;
        padding: 1rem;
        h1 {
            color: rgb(255, 255, 255);
            
            .typing {
                margin-left: 0.5rem;
                font-family: 'Playfair Display', serif;
                font-size: 2rem;
                font-weight: 700;
            }
            .typing::after {
                content: '';
                position: absolute;
                width: 2px;
                height: 2.5rem;
                animation: blink 1s infinite ease;
                background-color: white;
                margin-left: 5px;
            }
        }
    }
    

    .profile {
        padding: 5px 1rem;
        height: 20vh;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        .item {
            margin-top: 0.7rem;
            margin-left: 1rem;
            animation: animate 3s linear infinite;
            box-sizing: content-box;
        }
    }
}

.line {
    margin: 0 auto;
    width: 80%;
    height: 1px;
    background: radial-gradient(ellipse, rgb(68, 68, 68), transparent);
}

#about{
padding: 5rem 2rem 0rem 2rem;
width: 100%;
    .img-container {
        width: 80%;
        height: 35vh;
        background-image: url('./image/me1.jpg');
        background-size: cover;
        background-position: 50% 90%;
        margin: 0 auto;
    }
    .about-me {
        margin-top:2rem;
        text-align: center;
        h2 {
            margin-bottom: 2rem;
        }
        p {
            text-align: justify;
            text-justify: inter-word;
        }
    }
}
@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-15deg);
    }
    50% {
        transform:rotate(0deg);
    }
    75%{
        transform: rotate(15deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

#work{
    padding-top: 6rem;
    h2 {
        padding-bottom: 2rem;
        text-align: center;
    }
    .work-box {
        width: 100%;
        .work .content p a{
            text-decoration: none;
            color: rgb(158, 44, 9);
        }
        .one .icon {
            background-image: url(./image/web.png);
            background-size: cover;
        }
        .two .icon {
            background-image: url("https://img.icons8.com/dusk/90/000000/app-symbol.png");
            background-size: cover; 
        }
        .work{
            padding-bottom: 2rem;
            text-align: center;
            .icon {
                margin: 0 auto 1rem auto;
                width: 6rem;
                height: 6rem; 
            }
            .text h2 {
            font-weight: 300;
            }
        }
    }
}

  .collapsible {
    background-color: white;
    cursor: pointer;
    padding-bottom: 1rem;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: rgb(180, 134, 16);
    cursor: pointer;
    transition: all 0.25s ease-out;
    outline: none;
  }
  
  .collapsible:hover {
    color: rgb(124, 81, 11);
  }

  .content {
    display: none;
    overflow: hidden;
    padding: .5rem 1rem;
    margin: 0 auto;
    width: 100%;
    .video {
        margin-bottom: 1rem;
        width: 15rem;
    }
    .text {
        width: 100%;
        text-align: left;
        padding: 0.5rem 1.2rem;
        ul {
        list-style-image: url('./image/checked.png');
        margin: 0 1.3rem;
        li {
            padding: 0.2rem 0;
        }
        }
    }
}

#i1:checked ~ #a,
#i2:checked ~ #b,
#i3:checked ~ #c,
#i4:checked ~ #d,
#i5:checked ~ #e,
#i6:checked ~ #f,
#i7:checked ~ #g,
#i8:checked ~ #h{
    z-index: 3;
}
#gallery {
    padding-top: 6rem;
    padding-bottom: 3rem;
    h2 {
    text-align: center;
    }
}
.slidescontainer {
    margin: 2rem auto 4rem auto;
    width: 16rem;
    height: 50vh;
    position: relative;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    .slides {
        width: 100%;
        height: 100%;
        position: absolute;
        input {
            display: none;
        }
        .image {
            position: absolute;
            width: 100%;
            height: 100%;
            .text {
                background-color: white;
                text-align: center;
                font-weight: bold;
                padding-top: 0.5rem;
                font-size: 0.8rem;
                padding-left: 0.5rem;
                padding-right: 0.5rem;
            }
            .img {
                width: 100%;
                height: 85%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .left {
                width: 2rem;
                height: 2rem;
                position: absolute;
                top: 45%;
                left: -2rem;
                cursor: pointer;
                img {
                    width: 100%;
                    height: 100%;
                }  
            }
            .right {
                width: 2rem;
                height: 2rem;
                position: absolute;
                top: 45%;
                right: -2rem;
                cursor: pointer;
                img {
                    width: 100%;
                    height: 100%;
                }  
            }
            
             
            }
        }
    }



#contact {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(167, 166, 166, 0.1), rgba(0, 0, 0, 0.9)),
    url('./image/sea2.jpg');
    background-size: cover;
    background-position: top left;
    background-attachment: fixed;
    text-align: center;
    flex-direction: column;
        
    h2 {
        color: white;
        
    }
    .contact-box .box {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem auto;
        .icon {
            width: 1.5rem;
            height: 1.5rem;
            margin: 0 1rem;
            img {
                width: 100%;
                height: 100%;
            }
        }
        p {
            transform: translateY(5px);
            color: white;
            padding: 0;
        }
    }
}
footer {
    padding: 0.5rem;
    width: 100%;
    background-color:rgb(107, 107, 107);
    text-align: center;
    .logo {
        font-size: 2rem;
        font-weight: 900;
        a {
            color: rgb(253, 145, 95);
        }
    }
    p {
        color: white;
        font-size: 0.8rem;
        font-weight: 300;
    }
}

@media screen and (min-width: 360){
    .background{
        height: 18vh;
    }
}

@media screen and (min-width: 410px){
    .slidescontainer {
        width: 20rem;
    }
        .slides .image .left {
                    width: 3rem;
                    height: 3rem;
                    left: -3rem;
                }
        .slides .image  .right {
                    width: 3rem;
                    height: 3rem;
                    right: -3rem;
                }
}
@media screen and (min-width: 475px){
    header {
        flex-direction: row;
    }
    .background {
        height: 13vh;
    }
    #about {
        padding-top: 4rem;
    }
    #work{
        padding-top: 4rem;
    }
    #contact {
        flex-direction: row;
        }
    #gallery {
        padding-top: 4rem;
        }
    #gallery .slidescontainer{
        width: 22rem;
    }
    #about  .img-container {
        background-position: 50% 80%;
    }


}

@media screen and (min-width: 550px) {
    #about  .img-container {
        background-position: 50% 70%;
        
    }
}

@media screen and (min-width: 667px){
    
    #home .intro {
        transform: translate(-50%, -100%);
    }
    #contact {
        flex-direction: column;
        height: 25vh;
    }
    #home .center-text {
        margin: 9rem 4rem 3rem 4rem;
        height: 45vh;
    }

    #about {
        display: flex;
        align-items: center;
        .img-container {
            width: 35%;
            background-position: bottom;
        }
        .about-me {
            width: 60%;
        }
    }
#work {
    margin-left:  1rem;
    margin-right: 1rem;
    .work-box {
        display: flex;
        justify-content: space-evenly;
        .work {
            width: 48%;
        }
    }
}
    #contact .contact-box {
        display: flex;
        align-items: center;
    }
    #gallery .slidescontainer {
        width: 35rem;
    }

}
@media screen and (min-width: 768px){
    
    #about .img-container {
            width: 27%;
        }
        #contact {
            height: 25vh;
        }
}

@media screen and (min-width: 1024px){
    
    #about , #work{
        margin: 4rem auto;
        width: 95%;
    }
    #contact .contact-box {
        margin: 0 auto;
        width: 75%;
    }
    #home .center-text {
        margin: 9rem 6rem 3rem 6rem;
        height: 70vh;
    }
    .profile {
        height: 15vh;
    }

.work .right .content {
    position: relative;
    height: 60vh;
        .video {
            position: absolute;
            top:0;
            left:0;
            width: 11rem;
        }
        .text {
            width: 65%;
            position: absolute;
            top:0;
            right:0;
        }
}

#work {
    margin-left:  1rem;
    margin-right: 1rem;
            .left {
                width: 50%;
                margin: 0 2rem 0 auto;
            }
            .right {
                width: 50%;
                margin: 0 auto 0 2rem;
                .content {
                    width: 45vw;
                    text-align: left;
                }
            }
}

#gallery {
    width: 100%;
    margin-bottom: 4rem;
    .slidescontainer {
    width: 100%;
    margin: 1rem auto;
    box-shadow: none;
    position: initial;
    height: 100vh;

        .slides {
            position: initial;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .image {
                position: inherit;
                width: 20%;
                height: 45%;
                box-shadow: 0 5px 10px rgba(0,0,0,0.5);
                margin: 0.8rem ;
                .img {
                    height: 80%;
                }
                .text {
                    height: 20%;
                }
            }
            .left , .right {
            display: none;
            }  
        }
    }
}

}