
$ptc: #333;
$bgc: #f1f1f1;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chivo', sans-serif;
    color:$ptc;
}

h1, h2 {
    font-family: 'Montserrat', serif;
    font-size: 2rem;
    color:$ptc;
}

h1 {
    font-weight: 900;
}

h2, h3 { 
    font-weight: 700;
}
h3 {
    font-family: 'Chivo', serif;
    color:$ptc;
}

h2 {
    padding-bottom: 2rem;
    text-align: center;
}  // usage


#home {
    height: 500px;
    width: 100%;
    background-image: url(./image/b2.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    background-attachment: fixed;
    align-items: center;
    .center-text {
        width:75%;
        max-width: 1400px;
        height: 60%;
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 2rem;
        padding: 2rem 5rem;
        display: flex;
        align-items: center;
        

        h1 {
            color: rgb(255, 255, 255);
            .typing {
                margin-left: 0.5rem;
                font-family: 'Montserrat', serif;
                font-size: 2rem;
                font-weight: 900;
                color: white;
            }
            .typing::after {
                content: '';
                position: absolute;
                width: 2px;
                height: 2.5rem;
                animation: blink 1s infinite ease;
                background-color: white;
                margin-left: 5px;
            }
        }
    }
}
.line {
    margin: 3rem auto 0;
    width: 80%;
    max-width: 1400px;
    height: 1px;
    background: radial-gradient(ellipse, rgb(68, 68, 68), transparent);
}

.profile {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem auto;
    .line1, .line2{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}
.item {
    margin: 0.5rem 0.5rem;
    animation: animate 3s linear infinite;
    width: 2rem;
    height: 2rem;
    img{
        object-fit: cover;
    }
}

/* page2 */

#about{
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem auto 0;
    padding: 3rem 0;
}

    .img-container {
        width: 30%;
        height: auto;
        img{
            width: 100%;
            height:auto;
            border-radius: 1rem;
        }
    }


.about-me {
    text-align: center;
    width: 50%;
    padding: 1rem 2rem;
    p {
        text-align: left;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-15deg);
    }
    50% {
        transform:rotate(0deg);
    }
    75%{
        transform: rotate(15deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

#work {
    width: 100%;
    margin: 5rem auto 0;
    padding: 3rem 0;
    .line-border{
        margin-bottom: 6rem;
    }
}
    .work-box {
        width: 70%;
        margin:0 auto;
        max-width: 1400px;
        display: flex;
        justify-content: space-evenly;
    }

    .one .icon {
        background-image: url(./image/web.png);
        background-size: cover;
    }
    .two .icon {
        background-image: url("https://img.icons8.com/dusk/90/000000/app-symbol.png");
        background-size: cover; 
    }

    .work{
        padding-bottom: 2rem;
        text-align: center;
        width: 48%;
        .icon {
            margin: 0 auto 1rem;
            width: 6rem;
            height: 6rem; 
        }
    }

    .work .content p a{
        text-decoration: none;
        color: rgb(158, 44, 9);
    }

  .collapsible {
    background-color: white;
    cursor: pointer;
    padding-bottom: 1rem;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: rgb(180, 134, 16);
    cursor: pointer;
    transition: all 0.25s ease-out;
    outline: none;
  }
  
  .collapsible:hover {
    color: rgb(124, 81, 11);
  }

  .content {
    display: none;
    overflow: hidden;
    padding: .5rem 1rem;
    margin: 0 auto;
    width: 100%;
    .video {
        margin:  0  auto 1rem;
        width: 15rem;
    }
    .text {
        width: 100%;
        text-align: left;
        padding: 0.5rem 1.2rem;
        ul {
        list-style-image: url('./image/checked.png');
        margin: 0 1.3rem;
            li {
                padding: 0.2rem 0;
            }
        }
    }
}

.line-border{
    width: 180px;
    height: 4px;
    background: #333;
    margin: 0 auto 2rem;
  }

#gallery {
    width: 100%;
    padding: 3rem 0;
    margin: 5rem auto 0;
    background: $bgc;
    .inner-width{
        width: 100%;
        max-width: 1400px;
        margin: 0 auto;
        h1{
            text-align: center;
          }
        
        .gallery{
            display: flex;
            flex-wrap: wrap-reverse;
            justify-content: center;
            .image{
                flex: 12.5%;
                overflow: hidden;
                cursor: pointer;
                img{
                    width: 100%;
                    height: 100%;
                    transition: 0.4s;
                  }
              }
            .image:hover img{
                transform: scale(1.4) rotate(15deg);
            }
          }
      }
  }



#contact {
    padding-top: 2rem;
    background-image: url('./image/f1.jpg');
    background-size: cover;
    text-align: center;
    width: 100%;
    h2 {
        color: white;
        padding-bottom: 0;
    }
    .contact-box {
        width: 100%;
        max-width:1400px;
        display: flex;
        justify-content: center;
        padding-bottom: 2rem;
    }
}

.contact-box .box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    .icon {
        width: 1.5rem;
        height: 1.5rem;
        margin: 0 1rem;
        img {
            width: 100%;
            height: 100%;
        }
    }
    p {
        transform: translateY(5px);
        color: white;
        padding: 0;
    }
}



footer {
    padding: 0.5rem;
    width: 100%;
    background: #f1f1f1;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    .logo {
        font-size: 2rem;
        font-weight: 900;
        margin-right: 1rem;
        a {
            color: rgb(253, 145, 95);
        }
    }
    p {
        font-size: 0.8rem;
        font-weight: 300;
        color: white;
    }
}


    @media screen and (max-width: 600px){
        #home .center-text {
                width: 90%;
                height: 70%;
                padding: 1rem;
            }
            .line{
                margin:1rem auto 0;
            }
        
        .profile {
            flex-direction: column;
        }
        #about {
            flex-direction: column;
            .img-container{
                width: 50%;
            }
            .about-me{
                width:100%;
            }
        }
        #work .line-border{
                margin-bottom: 2rem;
            }
        .work-box{
            flex-direction: column;
            align-items: center;
            }
        
        .left, .right{
            margin: 0 auto;
        }
        .work{
            width:100%;
        }
        

    }
    @media screen and (max-width: 800px) { 
        #about, #work {
            padding: 0;
        }
        #gallery{
            margin-top:1rem;
        }
        #gallery .inner-width .gallery .image {
            flex: 25%;
        }
        #work .work-box{
                width: 100%;
        }
     }
  
     @media screen and (max-width: 800px) { 
        #gallery .inner-width .gallery .image {
            flex: 50%;
        }
     }
   

     
    @media screen and (max-width: 800px) { 
        #contact .contact-box {
            flex-direction:column;
        }
    }
 
