* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chivo', sans-serif;
    color: #333;
}
h1 {
    font-family: 'Montserrat', serif;
    font-size: 2rem;
    font-weight: 900;
    color: #333;
    
}
h2 {
    font-family: 'Montserrat', serif;
    font-size: 2rem;
    color: #333;
    font-weight: 700;
}
h3 {
    font-family: 'Chivo', serif;
    font-size: 1rem;
    font-weight: 700;
    color: #333;

}

#home {
    height: 550px;
    width: 100%;
    background: url(./image/img3.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    background-attachment: fixed;
    padding: 2rem 0;
    .center-text {
        display: flex;
        width:80%;
        max-width: 1200px;
        height: 50%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(78, 78, 78, 0.4);
        border-radius: 2rem;
        margin: 2rem auto;
        padding: 1rem;
        h1 {
            color: rgb(255, 255, 255);
            
            .typing {
                margin-left: 0.5rem;
                font-family: 'Montserrat', serif;
                font-size: 2rem;
                font-weight: 900;
                color: white;
            }
            .typing::after {
                content: '';
                position: absolute;
                width: 2px;
                height: 2.5rem;
                animation: blink 1s infinite ease;
                background-color: white;
                margin-left: 5px;
            }
        }
    }
    

    .profile {
        padding: 2rem 0.5rem;
        width: 100%;
        max-width: 1200px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin:0 auto;
        .item {
            margin: 0.5rem 0.5rem;
            animation: animate 3s linear infinite;
            width: 2rem;
            height: 2rem;
            img{
                object-fit: cover;
            }
        }
    }
}

.line {
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
    height: 1px;
    background: radial-gradient(ellipse, rgb(68, 68, 68), transparent);
}

#about{
    padding: 5rem 2rem 0rem 2rem;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    .img-container {
        width: 80%;
        height: auto;
        margin:0 auto;
        img{
            width: 100%;
            height:auto;
        }
      }
    .about-me {
        margin-top:2rem;
        text-align: center;
        h2 {
            margin-bottom: 2rem;
        }
        p {
            text-align: center;
        }
    }
}
@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-15deg);
    }
    50% {
        transform:rotate(0deg);
    }
    75%{
        transform: rotate(15deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

#work{
    padding-top: 6rem;
    h2 {
        padding-bottom: 2rem;
        text-align: center;
    }
    .work-box {
        width: 100%;
        max-width: 1200px;
        margin:0 auto;
        .work .content p a{
            text-decoration: none;
            color: rgb(158, 44, 9);
        }
        .one .icon {
            background-image: url(./image/web.png);
            background-size: cover;
        }
        .two .icon {
            background-image: url("https://img.icons8.com/dusk/90/000000/app-symbol.png");
            background-size: cover; 
        }
        .work{
            padding-bottom: 2rem;
            text-align: center;
            .icon {
                margin: 0 auto 1rem auto;
                width: 6rem;
                height: 6rem; 
            }
            .text h2 {
            font-weight: 300;
            }
        }
    }
}

  .collapsible {
    background-color: white;
    cursor: pointer;
    padding-bottom: 1rem;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: rgb(180, 134, 16);
    cursor: pointer;
    transition: all 0.25s ease-out;
    outline: none;
  }
  
  .collapsible:hover {
    color: rgb(124, 81, 11);
  }

  .content {
    display: none;
    overflow: hidden;
    padding: .5rem 1rem;
    margin: 0 auto;
    width: 100%;
    .video {
        margin-bottom: 1rem;
        width: 15rem;
    }
    .text {
        width: 100%;
        text-align: left;
        padding: 0.5rem 1.2rem;
        ul {
        list-style-image: url('./image/checked.png');
        margin: 0 1.3rem;
        li {
            padding: 0.2rem 0;
        }
        }
    }
}

#gallery {
    width: 100%;
    padding: 60px 0;
    background: #f1f1f1;
    .inner-width{
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        h1{
            text-align: center;
            color: #333;
          }
        .border{
            width: 180px;
            height: 4px;
            background: #333;
            margin: 60px auto;
          }
        .gallery{
            display: flex;
            flex-wrap: wrap-reverse;
            justify-content: center;
            .image{
                flex: 50%;
                overflow: hidden;
                cursor: pointer;
                img{
                    width: 100%;
                    height: 100%;
                    transition: 0.4s;
                  }
              }
            .image:hover img{
                transform: scale(1.4) rotate(15deg);
            }
          }
      }
  }



#contact {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(167, 166, 166, 0.1), rgba(0, 0, 0, 0.9)),
    url('./image/sea2.jpg');
    background-size: cover;
    background-position: top left;
    background-attachment: fixed;
    text-align: center;
    flex-direction: column;
    h2 {
        color: white;
    }
    .contact-box .box {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem auto;
        width: 100%;
        max-width: 1200px;
        .icon {
            width: 1.5rem;
            height: 1.5rem;
            margin: 0 1rem;
            img {
                width: 100%;
                height: 100%;
            }
        }
        p {
            transform: translateY(5px);
            color: white;
            padding: 0;
        }
    }
}
footer {
    padding: 0.5rem;
    width: 100%;
    background: #f1f1f1;
    text-align: center;
    .logo {
        font-size: 2rem;
        font-weight: 900;
        a {
            color: rgb(253, 145, 95);
        }
    }
    p {
        font-size: 0.8rem;
        font-weight: 300;
    }
}

@media (min-width: 480px) {
    #about, #work, #gallery {
        padding-top: 4rem;
    }
     #contact {
        flex-direction: row;
        }
}

@media (min-width: 667px){
    #contact {
        flex-direction: column;
    }
    #about {
        flex-direction: row;
        align-items: center;
        .img-container {
            width: 40%;
        }
        .about-me {
            width: 60%;
            padding: 0 3rem;
        }
    }
#work {
    margin-left:  1rem;
    margin-right: 1rem;
    .work-box {
        display: flex;
        justify-content: space-evenly;
        .work {
            width: 48%;
        }
    }
}
    #contact .contact-box {
        display: flex;
        align-items: center;
    }
    #gallery .inner-width .gallery .image {
            flex: 33.3%;
    }        
}


@media screen and (min-width: 1024px){
    #gallery .inner-width .gallery .image {
        flex: 12.5%;
    }            
    #about , #work{
        margin: 4rem auto;
    }

.work .right .content {
    position: relative;
    height: 60vh;
        .video {
            position: absolute;
            top:0;
            left:0;
            width: 11rem;
        }
        .text {
            width: 65%;
            position: absolute;
            top:0;
            right:0;
        }
}

#work {
    margin-left:  1rem;
    margin-right: 1rem;
            .left {
                width: 50%;
                margin: 0 2rem 0 auto;
            }
            .right {
                width: 50%;
                margin: 0 auto 0 2rem;
                .content {
                    width: 45vw;
                    text-align: left;
                }
            }
    }

}